.SubscribeGalleryContainer {
	background-color: #ffd3d7;
}

.img-gallery {
	padding: 0 !important;
	overflow: hidden;
}

.ImageGallery {
	position: relative;
}

.Subscribe {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5rem;
	padding-top: 5rem;
}

.Subscribe__form {
	width: 40%;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 250px;
	transform: translate(-50%, -50%);
	z-index: 1;
	text-align: center;
}
