.sliderItems__container {
	width: 85%;
	margin: 5% auto;
}

.sliderItems__main {
	overflow: hidden;
	height: 85vh;
}

.sliderItems__main--img__back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 2;
}

.sliderItems__main--img {
	height: 50vh;
	position: relative;
	cursor: pointer;
}

.sliderItems__main--img:hover .sliderItems__main--img__back {
	cursor: pointer;
	opacity: 1;
	transition: 0.5s;
}
.sliderItems__front--main__content {
	text-align: center;
}

.sliderItems__main--img__back--icon {
	border: 1px solid black;
	padding: 1rem;
}
