.Categolary {
	width: 100%;
}

.Categolary__img {
	position: relative;
	cursor: pointer;
}

.Categolary__img--back {
	position: absolute;
	width: 90%;
	height: 0;
	bottom: 5%;
	left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 0;
	background: #fff;
}

.Categolary__img:hover .Categolary__img--back {
	height: 90%;
	opacity: 1;
	transition: 0.5s;
}
