.ImageCard {
	position: relative;
	height: 60vh;
	width: 100%;
	cursor: pointer;
	transition: all 0.5s;
}

.ImageCard::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	background: linear-gradient(
		to top,
		rgba(256, 256, 256, 0.5),
		rgba(256, 256, 256, 0.3)
	);
	filter: blur(10px);
}

.ImageCard:hover {
	transform: scale(1.1);
}

.ImageCard:hover::after {
	height: 50%;
	transition: 0.5s ease-out;
}
