.slider__container {
	text-align: center;
	overflow: hidden;
	height: 80vh;
	width: 100%;
}

.slider__content {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #fff;
	margin: 0 auto;
}

.icon-controller {
	position: absolute;
	top: 40%;
	font-size: 200%;
	color: #fff;
	z-index: 1;
}

.icon-controller__right {
	right: 5%;
}
.icon-controller__left {
	left: 5%;
}
