.LastestItems {
	margin-top: 5rem;
	margin-bottom: 5rem;
	background: #ffe8e8;
	padding: 2rem 0;
}

.LastestItems__main--item {
	display: flex;
	margin-bottom: 1rem;
}

.LastestItems__main--item__img {
	width: 40%;
	height: 100%;
	margin-right: 1rem;
}
